.navigation-background {
    background: black;
    background-size: 100%;

}
.navigation-header {
    display: flex;
    padding-top: 60px;
    margin-left: 60px;
    text-shadow: 0 0 10px aqua,0 0 20px aqua,0 0 40px aqua;
    position: relative;
    margin-bottom: 30px;

}
.toplayer {
    position: absolute;
    width: 63%;
    top: 20%;
    height: 220px;
    background: black;
    animation: animatetoplayer 10s linear infinite;
}
@keyframes animatetoplayer {
    0%, 2.5% {
        transform: translateX(0);
    }
    5% {
        transform: translateX(0);
    }
    45% {
        transform: translateX(100%);
    }
    47.5%,50% {
        transform: translateX(100%);
    }
    50.001%, 52% {
        transform: translateX(-100%);
    }
    55% {
        transform: translateX(-100%);
    }
    95% {
        transform: translateX(0);
    }
    97.5%,100% {
        transform: translateX(0);
    }
}
.lightbar {
    z-index: 2;
    height: 200px;
    width: 30px;
    background: white;
    box-shadow: 0 0 10px aqua,0 0 20px aqua,0 0 40px aqua,0 0 80px aqua ;
    animation: animatelightbar 5s linear infinite;
}
@keyframes animatelightbar {
    0%, 5% {
        transform: scaleY(0) translateX(0);
    }
    10% {
        transform: scaleY(1) translateX(0);
    }
    90% {
        transform: scaleY(1) translateX(calc(700px - 10px));
    }
    95%,100% {
        transform: scaleY(0) translateX(calc(700px - 10px));
    }
}


.main-letter {
    color: #ffc600;
    font-family: 'PT Sans', sans-serif;
    font-size: 190px;
    font-weight: bold;
}
.main-word {
    color: white;
    font-family: 'PT Sans', sans-serif;
    font-size: 190px;
    font-weight: bold;
}
.navigation-header-text-letter {
    color: #ffc600;
    font-family: 'PT Sans', sans-serif;
    font-size: 10px;
    font-weight: normal;
}
.navigation-header-text {
    color: white;
    font-family: 'PT Sans', sans-serif;
    font-size: 10px;
    font-weight: normal;
}
.header-text-holder {
    display: flex;
}
.navigation-click-to-download {
    color: #ffc600;
    margin-top: 20px;
    margin-left: 60px;
    transition: 0.4s;
    cursor: pointer;
}
.navigation-click-to-download:hover {
    color:white;

    transition: 0.4s;
}
.navigation-header-info {
    margin-left: 60px;
}
.navigation-text-second-line {
    color: white;
    font-family: 'PT Sans', sans-serif;
    font-size: 10px;
    font-weight: normal;
}
.navigation-image-block {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 87px;
}
.navigation-image-holder {
    position: relative;

}
.soldier-image {
    width: 100%;
}
.on-image-div-block {
    margin-left: 60px;
}
.on-image-text {
    position: absolute;
    top: 18%;
}
.on-image-div-flex {
    display: flex;
}
.first-word-on-image,
.second-word-on-image,
.second-line-on-image {
    color: white;
    font-family: 'PT Sans', sans-serif;
    font-size: 60px;
    font-weight: bold;
}
.first-word-on-image {
    color: #ffc600;
    margin-right: 11px;
}
.navigation-links-list {
    display: flex;
    margin-left: 60px;
    position: absolute;
    top: 40%;
}
.navigation-links-item {
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    font-weight: normal;
    margin-right: 25px;
    border-bottom: 0 solid black;
    transition: 0.4s;
}
.navigation-links-item:hover {
    color: white;
    border-bottom: 3px solid #411f03;
    transition: 0.4s;
}
.navigation-links-a {
    text-decoration: none;
    color: #ffc600;
    transition: 0.4s;
}
.navigation-links-a:hover {
    color: white;
    transition: 0.4s;
}
.navigation-block {
    overflow: hidden;
}