.navigation-background {
    background: #030118;
    background-size: 100%;

}
.navigation-header {
    display: flex;
    width: 100%;
    padding-top: 60px;
    margin-left: 60px;
    text-shadow: 0 0 10px aqua,0 0 20px aqua,0 0 40px aqua;
    position: relative;
    margin-bottom: 30px;

}
.toplayer {
    position: absolute;
    width: 60%;
    top: 20%;
    height: 220px;
    background: #030118;

    animation: animatetoplayer 10s linear infinite;
}
@keyframes animatetoplayer {
    0%, 2.5% {
        transform: translateX(0);
    }
    5% {
        transform: translateX(0);
    }
    45% {
        transform: translateX(100%);
    }
    47.5%,50% {
        transform: translateX(100%);
    }
    50.001%, 52% {
        transform: translateX(-100%);
    }
    55% {
        transform: translateX(-100%);
    }
    95% {
        transform: translateX(0);
    }
    97.5%,100% {
        transform: translateX(0);
    }
}
.lightbar {
    z-index: 2;
    height: 200px;
    width: 30px;
    background: white;
    box-shadow: 0 0 10px aqua,0 0 20px aqua,0 0 40px aqua,0 0 80px aqua ;
    animation: animatelightbar 5s linear infinite;
}
@keyframes animatelightbar {
    0%, 5% {
        transform: scaleY(0) translateX(0);
    }
    10% {
        transform: scaleY(1) translateX(0);
    }
    90% {
        transform: scaleY(1) translateX(calc(700px - 10px));
    }
    95%,100% {
        transform: scaleY(0) translateX(calc(700px - 10px));
    }
}


.main-letter {
    color: #ffc600;
    font-family: 'PT Sans', sans-serif;
    font-size: 190px;
    font-weight: bold;
}
.main-word {
    color: white;
    font-family: 'PT Sans', sans-serif;
    font-size: 190px;
    font-weight: bold;
}
.navigation-header-text-letter {
    color: #ffc600;
    font-family: 'PT Sans', sans-serif;
    font-size: 10px;
    font-weight: normal;
}
.navigation-header-text {
    color: white;
    font-family: 'PT Sans', sans-serif;
    font-size: 10px;
    font-weight: normal;
}
.header-text-holder {
    display: flex;
}
.navigation-click-to-download {
    color: #ffc600;
    margin-top: 20px;
    margin-left: 60px;
    transition: 0.4s;
    cursor: pointer;
}
.navigation-click-to-download:hover {
    color:white;

    transition: 0.4s;
}
.navigation-header-info {
    margin-left: 60px;
}
.navigation-text-second-line {
    color: white;
    font-family: 'PT Sans', sans-serif;
    font-size: 10px;
    font-weight: normal;
}
.navigation-image-block {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 87px;
}
.navigation-image-holder {
    position: relative;

}
.soldier-image {
    width: 100%;
}
.on-image-div-block {
    margin-left: 60px;
}
.on-image-text {
    position: absolute;
    top: 18%;
}
.on-image-div-flex {
    display: flex;
}
.first-word-on-image,
.second-word-on-image,
.second-line-on-image {
    color: white;
    font-family: 'PT Sans', sans-serif;
    font-size: 60px;
    font-weight: bold;
}
.first-word-on-image {
    color: #ffc600;
    margin-right: 11px;
}
.navigation-links-list {
    display: flex;
    margin-left: 60px;
    position: absolute;
    top: 40%;
}
.navigation-links-item {
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    font-weight: normal;
    margin-right: 25px;
    border-bottom: 0 solid black;
    transition: 0.4s;
}
.navigation-links-item:hover {
    color: white;
    border-bottom: 3px solid #411f03;
    transition: 0.4s;
}
.navigation-links-a {
    text-decoration: none;
    color: #ffc600;
    transition: 0.4s;
}
.navigation-links-a:hover {
    color: white;
    transition: 0.4s;
}
.navigation-block {
    overflow: hidden;
}

.burger-holder {
    display: none;
    right: 6%;
    top: 3%;
    width: 40px;
    height: 40px;
    position: absolute;
    background: transparent;
    box-shadow: 0 0 10px cyan, 0 0 20px cyan, 0 0 40px cyan;
    border-radius: 4px;
    transition: 0.5s;
}
.burger-white-line {
    width: 28px;
    margin: 8px auto;
    height: 2px;
    background: white;
    border-radius: 20px;
}
.burger-holder:hover  .navigation-links-list {
    display: block;
}
.burger-menu {
    transform: scaleY(0);
    opacity: 0.5;
    background: cyan;
    width: 200px;
    border-radius: 10px;
    height: 400px;
    position: absolute;
    right: 0;
    top: 120%;
    transition: 0.5s;
    transform-origin: 0 0;
}
.burger-menu-item {
    margin-top: 25px;
    font-size: 25px;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
}


@media (max-width: 1250px) {
    .navigation-header {
        padding-top: 20px;
        text-shadow: 0 0 10px aqua;
    }
    .main-letter {
        font-size: 40px;
    }
    .main-word {
        font-size: 40px;
    }
    .lightbar {
        width: 5px;
        height: 40px;
        animation: animatelightbar 2s linear infinite;
    }
    .toplayer {
        width: 13%;
        top: 12%;
        height: 80px;
        animation: animatetoplayer 4s linear infinite;
        background: black;
    }
    @keyframes animatelightbar {
        0%, 5% {
            transform: scaleY(0) translateX(0);
        }
        10% {
            transform: scaleY(1) translateX(0);
        }
        90% {
            transform: scaleY(1) translateX(calc(160px - 10px));
        }
        95%,100% {
            transform: scaleY(0) translateX(calc(160px - 10px));
        }
    }
    .navigation-header-info {
        display: none;
    }
    .navigation-click-to-download {
        display: none;
    }
    .navigation-background {
        background: black;
    }
    .navigation-image-block {
        padding-top: 0;
    }

}
@media (max-width: 1160px) {
    .toplayer {
        display: none;

    }
    .lightbar {
        display: none;
    }
    .navigation-header {
        left: 6%;
        margin-left: 0;
    }
    .burger-holder {
        display: block;
        z-index: 2;
        cursor: pointer;
    }
    .burger-holder:hover .burger-white-line {
        box-shadow: 0 0 1px cyan, 0 0 2px cyan, 0 0 4px cyan, 0 0 6px cyan;
        transition: 0.5s;
    }
    .navigation-links-list {

    display: none;
    }
    .burger-holder:hover .burger-menu {
        transform: scaleY(1);
    }
    .burger-menu-item:hover {
        text-shadow: 0 0 10px black, 0 0 20px red, 0 0 40px black, 0 0 80px black;
        z-index: 9999;
        color: cyan;
    }
}